/*민구 모달 틀css*/
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

div.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

section.modal-container {
    position: fixed;
    background-color: white;
    border: 2px solid #d7d7d7;
    border-radius: 8px;
    color: #303441;
    padding: 20px 17px;
    width: 800px;
    font-family: 'Metro Sans';
    top: 34%;
    left: 50%;
    transform: translate(-50%, -29%);
    z-index: 1;
}

div.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
}

div.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #303441;
    align-items: center;
    justify-content: space-between;
}

.det_title-wrapper {
    display: flex;
    align-items: center;
}

.det_title span {
    margin-right: 12px;
}

.det_title input {
    margin-right: 12px;
}

div.title {
    margin-bottom: 8px;
    margin: 0;
    padding: 0;
}

input[name='title'] {
}

input[name='writtenDate'] {
    margin: 6px 0;
}

textarea[name='content'] {
    width: 100%;
    resize: none;
    padding: 30px 20px;
}
/*1번째 모달*/
.field-modal-x-btn{
	position: absolute;
    top: 0px;
    right: 0px;
    color: #9a9ba7;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 40px;
    width: 40px;
    z-index: 9;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
.customBar{
	position: relative;
}
.customBar-text{
	font-size: 18px;
	text-align: center
}
.step-bar{
	margin-top: 12px;
    margin-bottom: 40px;
}
.step-bar-text{
	color: rgb(48, 52, 65);
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    left: 0%;
	transition: 0.5s ease;
	position: absolute;
	width: 56px;
    top: 32px;
	background-color: #ffd400;
    border-radius: 50px;
    padding: 2px 11px;
}
.first-modal-main{
	display: flex;
}
.main-wrapper{
	width: 100%;
    height: 430px;
    overflow-x: hidden;
}
.titleForm-wrapper{
	display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.titleForm-text{
	font-size: 16px;
    font-weight: 500;
    display: flex;
    color: #303441;
}
.title-box-flex{
	display: flex;
}
.title-box-flex-1{
	flex: 1;
}
.SelectForm{
	width: 100%;
	display: inline-block;
    text-align: left;
}
.SelectForm-btn{
	width: 100%;
	height: 52px;
    border-radius: 4px;
    padding: 0 15px;
    border-color: #e4e5ed;
    text-align: left;
    line-height: 1;
	border: 1px solid #c6c6c6;
	color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    min-height: 31px !important;
	position: relative;
	-webkit-user-select: none;
	white-space: normal;
    background-color: #fff;
}
.btn-Label{
	overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
	word-break: break-word;
    display: inline-block;
    padding: 0;
}
.btn-Label-caret{
	position: absolute;
    top: 23px;
    right: 16px;
	display: inline-block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 12px !important;
    vertical-align: middle;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
}
.checkbox{
	left: 0px;
	box-shadow: none;
    border-radius: 0;
    border-color: #e4e5ed;
    margin-top: -1px;
    min-width: inherit;
    width: 100%;
}
.helper-container{
	padding: 0;
}
.checkbox-line{
	box-sizing: content-box;
    max-height: 30px;
    overflow: hidden;
    padding: 2px 0 4px;
    position: relative;
}
.checkbox-container{
	display: block;
    padding-top: 5px;
    overflow: hidden;
    max-height: 300px;
    min-height: 80px;
    overflow-y: auto;
}
.selectList{
	margin: 0;
    list-style: inside disc;
    padding-left: 0;
}
.selectItem{
	color: rgb(245, 193, 38);
	min-height: inherit;
    line-height: 30px;
    padding: 0px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
	white-space: nowrap;
	user-select: none;
    border: 1px solid transparent;
	min-width: 278px;
	font-size: 13px;
	margin-top: 0;
}
.selectItem-wrapper{
	position: absolute;
    right: 2px;
    font-size: 20px;
}
.selectItem-text{
	margin-left: 20px !important;
}
.titleForm-wrapper{
	display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.titleForm-title{
	font-size: 16px;
    font-weight: 500;
    display: flex;
    color: #303441;
}
.titleForm-type{
	display: none;
	color: #116ad4;
    margin-left: 8px;
    font-size: 12px;
}
.titleForm-box{
	margin-bottom: 32px;
	position: relative;
}
.titleForm-box-input{
	border-radius: 4px !important;
    height: 200px;
    line-height: 52px;
    padding: 0px 11px;
    width: 760px;
	caret-color: #ffd400;
	font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #e4e5ed;
}
.titleForm-box-flex{
	display: flex;
}
.titleForm-box-Range{
	text-align: right;
    flex-grow: 1;
    margin-top: 4px;
    color: #9a9ba7;
    font-size: 11px;
}
.btn-step-wrapper{
	position: absolute;
    bottom: 0px;
    left: 0;
    width: 515px;
    min-height: 48px;
	align-items: center;
	display: flex;
	margin-bottom: 15px;
}
.right-btn{
	flex: 1;
	text-align: right;
	padding-right: 20px;
}
.rignt-btn-step{
	height: 52px;
	font-size: 16px;
	padding: 13px 15px;
	width: 150px;
	border-radius: 4px !important;
	color: #303441;
    background-color: #ffd400;
    border-color: #ffd400;
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
	line-height: 1.5438;
	user-select: none;
}
/*2번째 모달*/
.step-bar-text2{
	color: rgb(48, 52, 65);
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    left: 23%;
	transition: 0.5s ease;
	position: absolute;
	width: 56px;
    top: 32px;
	background-color: #ffd400;
    border-radius: 50px;
    padding: 2px 11px;
}
.second-modal-main{
	display: flex;
}
.second-content-wrapper{
	width: 100%;
    height: 300px;
    overflow-x: hidden;
}
.second-titleForm-wrapper{
	margin-bottom: 0px;
	display: flex;
    align-items: center;
}
.second-titleForm-text{
	font-size: 12px;
    color: #116ad4;
    margin-top: 2px;
    margin-bottom: 20px
}
.companyName-container{
	position: relative;
}
.companyName{
	margin-top: 8px;
	transition: 0.1s ease;
	border: 1px solid #fae57c;
    border-radius: 4px;
}
.companyName-tap{
	height: 52px;
    line-height: 52px;
    padding: 0 40px 0 13px;
    width: 100%;
    margin: 0;
	display: block;
    position: relative;
    /*cursor: pointer;*/
	user-select: none;
}
.companyName-content{
	margin-top: 10px !important;
}
.companyName-inputText{
	position: relative;
}
.companyName-input{
	border-radius: 4px !important;
	height: 52px;
    line-height: 52px;
    padding: 0 15px;
	caret-color: #ffd400;
	font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #e4e5ed;
	width: 100%;
}
.left-btn{
	flex: 1;
	align-items: center;
	display: flex;
	text-align: left;
	padding: 25px;
}
.left-btn-cursor{
	text-decoration: none;
    color: #4d4d4d;
	cursor: pointer;
	display: flex;
    justify-content: left;
    align-items: center;
	font-size: 14px;
}
.left-btn-arrow{
	transform: rotate(180deg);
    font-size: 19px;
    display: inline-block;
	font-family: kmong-icon-font!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    position: relative;
}
/*3번째 모달*/
.step-bar-text3{
	color: rgb(48, 52, 65);
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    left: 48%;
	transition: 0.5s ease;
	position: absolute;
	width: 56px;
    top: 31px;
	background-color: #ffd400;
    border-radius: 50px;
    padding: 2px 11px;
}
.third-modal-main{
	display: flex;
	margin-bottom: 40px;
}
.third-content-wrapper{
	width: 100%;
    height: 429px;
    overflow-x: hidden;
}
.third-content-box{
	margin-bottom: 32px;
	position: relative;
}
.third-content-box-wrapper{
	position: relative;
}
.companyName-input2{
	border-radius: 4px !important;
	height: 230px;
    line-height: 52px;
    padding: 0 15px;
	caret-color: #ffd400;
	font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #e4e5ed;
	width: 100%;
}
.file-containel{
	display: inline-block;
    zoom: 1;
	margin-top: -15px;
}
.file-img{
	padding: 0px;
	border-radius: 4px !important;
	background-color: #fff !important;
	cursor: pointer;
}

/*4번째 모달*/
.step-bar-text4{
	color: rgb(48, 52, 65);
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    left: 73%;
	transition: 0.5s ease;
	position: absolute;
	width: 56px;
    top: 31px;
	background-color: #ffd400;
    border-radius: 50px;
    padding: 2px 11px;
}
.fourth-modal-main{
	display: flex;
	margin-bottom: -120px;
}
.fourth-content-wrapper{
	width: 100%;
    height: 429px;
    overflow-x: hidden;
}
.field-pay{
	margin-bottom: 32px;
	position: relative;
}
.PriceText-container{
	background-color: rgb(243, 244, 248);
	border-radius: 4px !important;
	padding: 24px;
    margin: 8px 0 0 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
.PriceText-wrapper{
	width: 250px;
	display: inline-block;
    zoom: 1;
	position: relative;
}
.PriceText-int{
	color: #303441;
	border-radius: 4px !important;
	height: 52px;
    line-height: 52px;
    padding: 0 15px;
	caret-color: #ffd400;
	font-size: 14px;
	background-color: #fff;
    border: 1px solid #e4e5ed;
	text-align: right;
}
.PriceText-int-text{
	z-index: 1;
    right: 17px;
    top: 0px;
    line-height: 52px;
	font-size: 16px;
	position: absolute;
}
/*5번째 모달*/
.step-bar-text5{
	color: rgb(48, 52, 65);
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    left: 93%;
	transition: 0.5s ease;
	position: absolute;
	width: 56px;
    top: 31px;
	background-color: #ffd400;
    border-radius: 50px;
    padding: 2px 11px;
}
.fifth-modal-main{
	display: flex;
}
.fifth-content-wrapper{
	width: 100%;
    height: 300px;
    overflow-x: hidden;
}
.fifth-titleForm-wrapper{
	display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.fifth-titleForm-text{
	font-size: 16px;
    font-weight: 500;
    display: flex;
    color: #303441;
}
.field-dete{
	background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    outline: 0 !important;
    border-width: 1px;
    border-style: solid;
    border-color: #e4e5ed;
    height: 37px;
    width: 100%;
}
.fifth-content-textBox{
	margin-bottom: 32px;
	position: relative;
}
.textBox-input{
	position: relative;
}
.textBox-input-text{
	padding-right: 0px;
    text-align: left;
	border-radius: 4px !important;
	height: 52px;
    line-height: 52px;
    padding: 0 15px;
	caret-color: #ffd400;
	font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #e4e5ed;
	width: 100%;
}







