div.aside-menu-wrapper {
    margin-top: 30px;
}

div.menu-mypage-title{
    font-size: 18px;
    color: #303441;
    font-weight: 500;
}

hr.menu-hr{
    margin: 0;
    border: none;
    background-color: #303441;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a.menu-item{
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #303441;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

div.item-name{
    position: relative;
    font-weight: inherit;
}