<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fieldTrip">
	<select id="selectCategoryAll" parameterType="map" resultType="fieldTripDTO">
		select field_trip_id, category_id, category_name, user_id, field_trip_name, 
		field_trip_registation_date, field_trip_deadline_date,
		field_trip_program_date, field_trip_place, field_trip_price, field_trip_context_description,
		recommend_count, field_trip_system_name, field_trip_org_name
		from view_field_tripdto
		<if test="categoryId != null">
			where category_id = #{categoryId} 
		</if>
		<if test="keyword != null">
			where field_trip_name like concat('%', #{keyword}, '%')
		</if>
		<choose>
			<when test="sort=='recent'.toString()">
				order by field_trip_id 
			</when>
			<when test="sort=='popular'.toString()">
				order by recommend_count 
			</when>
			<otherwise>
				order by field_trip_id 
			</otherwise>
		</choose>
		desc 
		limit #{startRow}, #{rowCount}
	</select>
	
	<select id="getTotal" parameterType="long" resultType="long">
		select count(field_trip_id)  
		from tbl_field_trip 
		<if test="categoryId != null">
			where category_id = #{categoryId}
		</if>
	</select>
	
	<delete id="delete" parameterType="long">
		delete from
		tbl_field_trip where field_trip_id = #{fieldTripId}
	</delete>
	
	<select id="fieldTripDetail" parameterType="long" resultType="com.app.fieldTrip.domain.FieldTripDetailVO">
		select field_trip_detail_id, field_trip_id, field_trip_detail_context,
		field_trip_detail_institution_info, field_trip_detail_use_time, field_trip_detail_refund_policy
		from tbl_field_trip_detail
		where field_trip_id = #{fieldTripId}
	</select>
	
	<select id="getfieldTripDTO" parameterType="long" resultType="fieldTripDTO">
		select field_trip_id, category_id, category_name, user_id, field_trip_name, 
		field_trip_registation_date, field_trip_deadline_date,
		field_trip_program_date, field_trip_place, field_trip_price, field_trip_context_description,
		recommend_count, field_trip_system_name, field_trip_org_name
		from view_field_tripdto
		where field_trip_id = #{fieldTripId}
	</select>
	
	<select id="selectTop10" resultType="fieldTripDTO">
		select field_trip_id, user_id, vftt.category_id, category_name, field_trip_name, field_trip_registation_date,
		field_trip_deadline_date, field_trip_program_date, field_trip_place, field_trip_price,
		field_trip_context_description, field_trip_system_name, field_trip_org_name
		from view_field_trip_top10 vftt join tbl_category tc
		on vftt.category_id = tc.category_id
	</select>
	
	<insert id="insertLike" parameterType="map">
		insert into kids.tbl_field_trip_recommend
		(user_id, field_trip_id)
		values(#{userId}, #{fieldTripId});
	</insert>
	
	<delete id="deleteLike" parameterType="map">
		delete from kids.tbl_field_trip_recommend
		where user_id = #{userId} and field_trip_id = #{fieldTripId}
	</delete>
	
	<select id="selectBestCategory" resultType="fieldTripBestCategoryDTO">
		select tp.field_trip_id, vft.user_id, category_id, field_trip_name, field_trip_registation_date,
		field_trip_deadline_date, field_trip_program_date, field_trip_place, field_trip_price,
		field_trip_context_description, field_trip_system_name, field_trip_org_name,
		sum(payment_headcount) as sumHeadCount
		from view_field_trip vft join tbl_payment tp
		on vft.field_trip_id = tp.field_trip_id
		group by tp.field_trip_id, field_trip_system_name, field_trip_org_name
		order by sum(payment_headcount) desc
		limit 3
	</select>
	
	<select id="countReview" parameterType="long" resultType="long">
		select count(review_id) from tbl_review where field_trip_id = #{fieldTripId}
	</select>
	
	<select id="fieldTripReview" parameterType="long" resultType="fieldTripReviewDTO">
		select review_id, user_id, field_trip_id, review_write_date, review_alter_date, review_context,
		member_name, member_nickname, member_gender, file_id, system_name, org_name
		from view_field_trip_review where field_trip_id = #{fieldTripId}
	</select>
</mapper>