@charset "UTF-8";

body,
html {
  font-family: 'Metro Sans', sans-serif;
  font-size: 14px;
}

.adminPage {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #eeeeee;
  margin-left: 142px;
}

.logoImg {
  width: 42px;
  height: 42px;
  vertical-align: middle;
}

.logoText {
  color: black;
  vertical-align: middle;
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 3px;
}

.sidebar a:first-child {
  margin-bottom: 25px;
  border-bottom: solid;
  border-bottom-color: #eeeeee;
}

.sidebar a {
  font-weight: 300;
  margin-bottom: 2px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
}

/* 사이드바 마우스 올렸을때 */
.sidebar a:hover {
  background-color: #bcd4fa;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

/* @media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  s .sidebar a {
    font-size: 18px;
  }
} */

/* 현재경로이름 */
.sidebarNameLayout {
  text-decoration: none;
  font-size: 20px;
  color: white;
  height: 5%;
  width: 100%;
  background-color: white;
  top: 0;
  padding-bottom: 12px;
}

.sidebarNameText {
  position: relative;
  height: 100%;
}

.sidebarNameText span {
  font-weight: 500;
  margin-left: 15px;
  color: #1664eb;
  vertical-align: -webkit-baseline-middle;
}

.main-content-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.stageLayout {
  /* margin-left: 40px; */
  /* margin-top: 40px; */
}

.memberIdSearchText {
  text-align: left;
}
/* 데이터 테이블 */
.filterButtonLayout {
  width: 100%;
  display: flex;
  float: left;
  text-align: left;
  /* letter-spacing: 20px; */
  justify-content: space-between;
}

.filterButton {
  cursor: pointer;
  background-color: white;
  border: 1px solid #111;
  border-radius: 4px;
  width: 100px;
  height: 35px;
  text-align: center;
  color: #111;
  margin-right: 6px;
}

.inputBox {
  position: relative;
  text-align: end;
}

.dataTableLayout {
  min-width: 1300px;
  background-color: white;
  display: inline-block;
  margin: 30px;
}

.dataTable {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.upTextLayout {
  position: relative;
  padding-top: 2px;
  background-color: #fff;
}

.bottomTextLayout {
  margin-top: 20px;
}

.tableCheckbox {
  width: 16px;
  height: 16px;
}

.tableCheckboxAll {
  width: 16px;
  height: 16px;
}

#myInput {
  background-color: #eeeeee;
  background-image: url('../../resources/img/search.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 14px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

.myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

.myTable th,
.myTable td {
  text-align: center;
  padding: 12px;
}

.myTable td button {
  background-color: white;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  width: 50px;
  height: 35px;
  text-align: center;
  color: #111;
}

.myTable td button:last-child {
  color: coral;
}

.myTable tr {
  border-bottom: 1px solid #ddd;
}

.logo:hover {
  background-color: #bcd4fa;
}

.myTable tr.trHeader {
  background-color: #f1f1f1;
}

.myTable tbody tr:not(:first-child):hover {
  background-color: #bcd4fa;
}

.thStyle {
  width: 16%;
}

.tdStyle {
  width: 6%;
}

/* Pagination */

.pagination {
  font-size: 7px;
  margin-top: 30px;
  text-align: -webkit-center;
  width: 100%;
}

.pagination a {
  color: black;
  float: none;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* 현재 페이지는 파란색으로 */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* 마우스 올렸을 때 */
.pagination a:hover:not(.active) {
  background-color: #bcd4fa;
}

/* 모달창 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

div.modal-bg {
  background-color: hsla(0, 0%, 0%, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal-bg.active {
  display: flex;
}

.updateModal-bg.active {
  display: flex;
}

div.updateModal-bg {
  background-color: hsla(0, 0%, 0%, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section.container {
  position: absolute;
  background-color: white;
  border: 2px solid #474747;
  border-radius: 8px;
  color: #303441;
  padding: 0px 20px 17px;
  width: 600px;
  top: 50%;
  left: 50%;
  /* transform: translate(-114%, -55%); */
  transform: translate(-42%, -50%);
  z-index: 1;
}

div.title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

div.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #303441;
  align-items: center;
  justify-content: space-between;
}

.det_title-wrapper {
  display: flex;
  align-items: center;
}

.det_title span {
  margin-right: 12px;
}

.det_title input {
  margin-right: 12px;
}

div.title {
  margin-bottom: 8px;
  margin: 0;
  padding: 0;
}

input[name='writtenDate'] {
  margin: 6px 0;
}

textarea[name='content'] {
  width: 100%;
  resize: none;
}

.det_submitButton {
  border: 1px solid #111;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.X {
  cursor: pointer;
  display: block;
}

.updateX {
  cursor: pointer;
  display: block;
}

.titleAndX {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
