<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.app.member.domain.MemberVO" alias="memberVO"/>
		<typeAlias type="com.app.fieldTrip.domain.FieldTripVO" alias="fieldTripVO"/>
		<typeAlias type="com.app.member.domain.MemberDTO" alias="memberDTO"/>
		<typeAlias type="com.app.fieldTrip.domain.FieldTripDTO" alias="fieldTripDTO"/>
		<typeAlias type="com.app.pay.domain.PaymentVO" alias="paymentVO"/>
		<typeAlias type="com.app.pay.domain.PaymentDTO" alias="paymentDTO"/>
	</typeAliases>
	
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/kids"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/app/mybatis/mapper/adminMapper.xml"/>
		<mapper resource="com/app/mybatis/mapper/fieldTripMapper.xml"/>
		<mapper resource="com/app/mybatis/mapper/mainMapper.xml"/>
		<mapper resource="com/app/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="com/app/mybatis/mapper/mypageMapper.xml"/>
		<mapper resource="com/app/mybatis/mapper/noticeMapper.xml"/>
		<mapper resource="com/app/mybatis/mapper/paymentMapper.xml"/>
	</mappers>
</configuration>