<!-- 1번째 모달 -->
<!-- <div class="field-modal">
	<button class="field-modal-x-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
		</svg>
	</button>
	<div class="customBar">
		<div class="customBar-text">
			필요한 업무를 설정해주세요, 전문가가 제안합니다!
		</div>
	<div class="step-bar">
		<div class="step-bar-color" style="background: rgb(242, 243, 247);">
			<div class="step-bar-color-next" style="background: rgb(255, 212, 0); width: 0%; height: 8px; transition: all 0.5s ease 0s;">
			</div>
		</div>
		<div class="step-bar-text">0%</div>
	</div>
	</div>
	<div class="first-modal-main>
		<div class="main-wrapper">
			<div class="main-wrapper-content" style="padding-bottom: 25px;">
				<div>
					<div class="titleForm">
						<div class="titleForm-wrapper">
							<div class="titleForm-text">관련 분야를 선택해주세요.</div>
						</div>
					</div>
					<div class="title-box-flex">
						<div class="title-box-flex-1">
							<div class="multSelectForm">
								<div class="SelectForm">
									<button class="SelectForm-btn">
										<div class="btn-Label">
											<span>과학IT</span>
											<span class="btn-Label-caret"></span>
										</div>
									</button>
									<div class="checkbox">
										<div class="helper-container">
											<divclass="checkbox-line"></div>
										</div>
										<div class="checkbox-container" style="display:none;">
											<ul class="selectList">
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">과학IT</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">엑티비티</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">예술</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">요리</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">역사</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">의료</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">방송</span>
												</li>
												<li class="selectItem">
													<span class="selectItem-wrapper">✓</span>
													<span class="selectItem-text">사회</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="margin-top: 32px;">
						<div>
							<div class="titleForm">
								<div class="titleForm-wrapper">
									<div class="titleForm-title">필요한 서비스의 제목을 작성해주세요.</div>
									<div class="titleForm-type"></div>
								</div>
							</div>
							<div class="titleForm-box">
								<div class="titleForm-box-wrapper">
									<div>
										<input placeholder="예) 000분야의 체험등록을 요청드립니다." maxlength="300" type="text" autocomplete="off" class="titleForm-box-input">
										<div class="titleForm-box-flex">
											<div style="flex: 1 1 0%; display: flex; justify-content: flex-end;">
												<div>
													<div class="titleForm-box-Range">
														<span>0</span>
														/100
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-step-wrapper">
		<div class="right-btn">
			<div>
				<button class="rignt-btn-step">
					다음
				</button>
			</div>
		</div>			
	</div>
</div> -->
<!-- 2번째 모달 -->
<!-- <div class="field-modal">
	<button class="field-modal-x-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
		</svg>
	</button>
	<div class="customBar">
		<div class="customBar-text">
			25%완성, 조금만 더 디테일한 정보를 알려주세요!
		</div>
	<div class="step-bar">
		<div class="step-bar-color" style="background: rgb(242, 243, 247);">
			<div class="step-bar-color-next2" style="background: rgb(255, 212, 0); width: 25%; height: 8px; transition: all 0.5s ease 0s;">
			</div>
		</div>
		<div class="step-bar-text2">25%</div>
	</div>
	</div>
	<div class="second-modal-main">
		<div class="second-content-wrapper">
			<div class="second-content">
				<div>
					<div>
						<div class="second-titleForm">
							<div class="second-titleForm-wrapper">
								기업명 여부를 등록해 주세요.
							</div>
						</div>
						<div class="second-titleForm-text">
							기업명은 사이트에 노출되지 않으며, 전담 매니저 확인용입니다.
						</div>
						<div class="companyName-container">
							<div class="companyName-wrapper">
								<div class="companyName">
									<label class="companyName-tap">
										<span>기업(법인/개인사업자/예비창업자)</span>
									</label>
								</div>
								<div class="companyName-content">
									<div class="companyName-inputText">
										<input placeholder="기업명 (*사이트에 노출되지 않음)" maxlength="24" type="text" autocomplete="off" class="companyName-input">
										<div class="titleForm-box-flex">
											<div style="flex: 1 1 0%; display: flex; justify-content: flex-end;">
												<div>
													<div class="titleForm-box-Range">
														<span>0</span>
														/24
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-step-wrapper">
						<div class="left-btn">
							<a class="left-btn-cursor">
								<i class="left-btn-arrow"></i>
								< 이전
							</a>
						</div>						
						<div class="right-btn">
							<div>
								<button class="rignt-btn-step">
									다음
								</button>
							</div>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- 3번째 모달 -->
<!-- <div class="field-modal">
	<button class="field-modal-x-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
		</svg>
	</button>
	<div class="customBar">
		<div class="customBar-text">
			50%완성, 조금만 더 디테일한 정보를 알려주세요!
		</div>
	<div class="step-bar">
		<div class="step-bar-color" style="background: rgb(242, 243, 247);">
			<div class="step-bar-color-next2" style="background: rgb(255, 212, 0); width: 50%; height: 8px; transition: all 0.5s ease 0s;">
			</div>
		</div>
		<div class="step-bar-text3">50%</div>
	</div>
	</div>
	<div class="third-modal-main">
		<div class="third-content-wrapper">
			<div class="third-content">
				<div>
					<div class="second-titleForm">
						<div class="second-titleForm-wrapper">
							의뢰 사항을 구체적으로 설명해주세요.
						</div>
					</div>
					<div class="second-titleForm-text">
						외부 연락처 공개 운영정책 위반시 이용이 제한 됩니다.
					</div>
					<div class="third-content-box">
						<div class="third-content-box-wrapper">
							<div class="companyName-content">
								<div class="companyName-inputText">
									<input placeholder="아래 내용을 상세히 입력해 주시면, 더 적합한 전문가를 만날 수 있습니다" maxlength="1000" type="text" autocomplete="off" class="companyName-input2">
									<div class="titleForm-box-flex">
										<div style="flex: 1 1 0%; display: flex; justify-content: flex-end;">
											<div>
												<div class="titleForm-box-Range">
													<span>0</span>
													/1000
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="file-containel">
					<a class="file-img">
						<img width="36px" src="https://d2v80xjmx68n4w.cloudfront.net/assets/desktop/modules/custom-project/ic_clip_denim@2x.png">
					</a>
				</div>
				<div class="btn-step-wrapper">
					<div class="left-btn">
						<a class="left-btn-cursor">
							<i class="left-btn-arrow"></i>
							< 이전
						</a>
					</div>						
					<div class="right-btn">
						<div>
							<button class="rignt-btn-step">
								다음
							</button>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- 4번째 모달 -->
<div class="field-modal">
	<button class="field-modal-x-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
		</svg>
	</button>
	<div class="customBar">
		<div class="customBar-text">
			75%완성, 이제 얼마 남지 않았어요!
		</div>
	<div class="step-bar">
		<div class="step-bar-color" style="background: rgb(242, 243, 247);">
			<div class="step-bar-color-next2" style="background: rgb(255, 212, 0); width: 75%; height: 8px; transition: all 0.5s ease 0s;">
			</div>
		</div>
		<div class="step-bar-text4">75%</div>
	</div>
	</div>
	<div class="fourth-modal-main">
		<div class="fourth-content-wrapper">
			<div class="fourth-content">
				<div class="second-titleForm">
					<div class="second-titleForm-wrapper">
						체험학습 예산을 기재해 주세요.
					</div>
				</div>
				<div class="second-titleForm-text">
					예산 책정이 어렵다면, 매니저가 유선 상담 시 도움을 드립니다.
				</div>
				<div class="field-pay">
					<div class="PriceText">
						<div class="PriceText-container">
							<div class="PriceText-wrapper">
								<input placeholder="최소 5,000" type="text" class="PriceText-int">
								<div class="PriceText-int-text">원</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-step-wrapper">
				<div class="left-btn">
					<a class="left-btn-cursor">
						<i class="left-btn-arrow"></i>
						< 이전
					</a>
				</div>						
				<div class="right-btn">
					<div>
						<button class="rignt-btn-step">
							다음
						</button>
					</div>
				</div>			
			</div>		
		</div>
	</div>
</div>
<!-- 5번째 모달 -->
<!-- <div class="field-modal">
	<button class="field-modal-x-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
		</svg>
	</button>
	<div class="customBar">
		<div class="customBar-text">
			오예! 작성완료! 100%완성
		</div>
	<div class="step-bar">
		<div class="step-bar-color" style="background: rgb(242, 243, 247);">
			<div class="step-bar-color-next2" style="background: rgb(255, 212, 0); width: 100%; height: 8px; transition: all 0.5s ease 0s;">
			</div>
		</div>
		<div class="step-bar-text5">100%</div>
	</div>
	</div>
	<div class="fifth-modal-main">
		<div class="fifth-content-wrapper">
			<div class="fifth-content">
				<div class="fifth-titleForm">
					<div class="fifth-titleForm-wrapper">
						<div class="fifth-titleForm-text">체험학습 기간 시작 일자를 선택해주세요.</div>
					</div>
					<input type="date" name="date" id="picker" class="field-date">
				</div>
				<div class="fifth-titleForm">
					<div class="fifth-titleForm-wrapper">
						<div class="fifth-titleForm-text">체험학습 기간 마감 일자를 선택해주세요.</div>
					</div>
					<input type="date" name="date" id="picker" class="field-date">
				</div>
				<div class="fifth-titleForm">
					<div class="fifth-titleForm-wrapper">
						<div class="fifth-titleForm-text">작업기간을 입력해주세요(일 단위)</div>
					</div>
					<div class="fifth-content-textBox">
						<div class="fifth-content-textBox-wrapper">
							<div class="textBox-input">
								<input unit="1" max="999" min="0" type="text" autocomplete="off" class="textBox-input-text">
							</div>
						</div>
					</div>
				</div>
				<div class="btn-step-wrapper">
					<div class="left-btn">
						<a class="left-btn-cursor">
							<i class="left-btn-arrow"></i>
							< 이전
						</a>
					</div>						
					<div class="right-btn">
						<div>
							<button class="rignt-btn-step">
								등록 의뢰하기
							</button>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
</div> -->