@charset "UTF-8";

@charset "UTF-8";


body { 
	margin: 0;
}


#wrap {
	min-width: 1200px;
}

.wrap-s {
	height: 74px;
	display: flex;
	width: 1200px;
	margin:0 auto;
	padding: 0 16px;
	flex-direction: row;
	align-items: center;
}

.logo {
	cursor: pointer;
	width: 85px;
	height: 26px;
}



.search {
	margin: 0px, 16px;
	display: flex;
	justify-content: center;
	width:100%;
	max-width: 256px;
	position: relative;
	
}

.search-d {
	width: 100%;
    border: 1px solid rgb(228, 229, 237);
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    height: 42px;
    padding: 0px 12px;
    min-width: 64px;
    border-radius: 20px;
    font-size: 14px;
}
	    	

.search-input {
	border: none;
	outline: none;
	width: 100%;
	text-align: left;
    font-weight: 200;
	
}

.wrapper {
	padding-left: 7px;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	
	
}

.img {
	display: inline-block;
	font-style: noraml;
	text-align: center;
	text-transform: none;
	vertical-align: -0.125em;
	text-rendering: optimizeLegibility;
	align-items: center;
	
}

.wrap-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.wrap-btn .btn-1 {
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
    margin-right: 4px;
	
	
}


.wrap-btn .btn-2 {
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
    margin-right: 16px;
}


.join {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: rgb(255, 212, 0);
    border-color: rgb(255, 212, 0);
    color: rgb(48, 52, 65);
    margin-right: 16px;
}

.categoryContainer {
    min-height: 48px;

}

.categoryWrap {
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;

}

.category {
    display: flex;
    align-items: center;
    height: 48px;
}

.categoryContent {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
}

.category-btn {
    font-size: 16px;
    color: #303441;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}

.img {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;

}

.category-s {
    font-size: 16px;
    color: #303441;
    cursor: pointer;
    font-weight: bold;
    margin: 0 0 0 8px;
}

.categoryImg {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    margin-left: 4px;
}

.list {
    display: flex;
    align-items: center;
    height: 48px;
    margin: 0;
    padding: 0;

}

.categoryList {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    margin: 0 0 0 40px;
    padding: 0;
}

.list-1 {
    text-decoration: none;
    color: #303441;
}

li {
    list-style: none;
}

.container {
    width: 100%;

}

.c-wrap {
    position: relative;
    margin-bottom: 80px;
    display: grid;
    grid-gap: 80px;
}

.colorChange {
    background-color: blueviolet;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;

    flex-direction: column;
}

.layout {
    width: 1200px;
    padding: 0 16px;
    display: grid;
    margin: 0 auto;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;

}

.search-s {
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}

.title {
    margin: 0;
    color:#ffffff;
    font-size: 27px;
    font-weight: 20px;
    line-height: normal;
    white-space: pre-wrap;

}

.search-f {
    display: flex;
    position: relative;
}

.search-Wrap {
    display: flex;
    border-radius: 4px;
    border: 2px solid #ffffff;
    width: 500px;
    height: 60px;
    position: relative;
    align-items: center;
}

.search-Category {
    color: #ffffff;
    font-size: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: text;
    padding: 0 12px;

}

.search-span {
    white-space: pre;
    min-height: 29px;
}

.category-search {
    width: 100%;

}

.search-in {
    background-color: transparent;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    width: 80%;
    color: #ffffff;
    font-size: 20px;

}

.search-icon {
    flex-basis: 50px;
    position: absolute;
    right: 18px;

}

.icon {
    display: inline-block;
    font-style: normal;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125rem;
    color: #ffffff;
    line-height: 0;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
}

.tag-wrap {
    padding: 7px;
    font-size: 13px;
    border-radius: 16px;
    background-color: #ffffff1A;   
    display: flex;
    color: #555969;
    cursor: default;
    line-height: normal;
    box-sizing: border-box;

}

.tag-a {
    text-decoration: none;
    color: #ffffff;
}