@charset "UTF-8";

/** font **/
@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 900;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 500;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 300;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot?#iefix) format('embedded-opentype');
}
/* base */


input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, textarea {
    color: #3333;
    font-size: 14px;
}
input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 0;
}
h1 {
    font-size: 32px;
}
h3 {
    font-size: 18px;
    font-weight: 600;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* base 끝 */

/* 1. header 시작 */
* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

body {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(102, 102, 102, 1);
    font-family: 'Metro Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


body {
    margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

@media (min-width: 1024px) {
    body>main {
        min-height: 65vh;
    }
}

.header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between;
}

@media (min-width: 1160px) {
    .header {
        padding: 0;
        width: 90%;
        height: 80px;
    }
}

a {
    background-color: transparent;
}

a {
    color: rgba(22, 158, 230, 1);
    text-decoration: none;
}
.button-request-yellow, input[type="submit"] {
    background-color: rgba(255, 212, 0, 1);
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 240px;
    padding: 10px 50px 10px 50px;
    width: 100%;
}
@media (min-width: 768px){
    .button-request-yellow, input[type="submit"] {
        width: auto;
    }
}
img {
    border: 0;
}

.logo-kmong {
    height: 16px;
    margin-top: 8px;
}

@media (min-width: 1160px) {
    .logo-kmong {
        height: 25px;
        margin-top: 6px;
    }
}

.cs {
    height: 16px;
    padding-left: 6px;
}

@media (min-width: 1160px) {
    .cs {
        height: 25px;
        padding-left: 10px;
        margin-top: 6px;
    }
}

.logo img {}

.nav-wrapper a {
    border: 0;
    color: rgba(22, 158, 230, 1);
    display: none;
    text-decoration: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}
@media (min-width: 768px) {
    .nav-wrapper a {
      display: inline-block;
    }
  }
[dir="rtl"] .nav-wrapper a {
    padding: 0 0 0 20px;
}
.nav-wrapper a:hover, .nav-wrapper a:focus, .nav-wrapper a:active {
    background-color: transparent;
    color: rgba(22, 158, 230, 1);
    text-decoration: none;
  }
  .nav-wrapper .icon-menu {
    border: 0;
    color: rgba(22, 158, 230, 1);
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;
  }
  .nav-wrapper .icon-menu:hover, .nav-wrapper .icon-menu:focus, .nav-wrapper .icon-menu:active {
    background-color: transparent;
    color: rgba(22, 158, 230, 1);
  }
.dropdown {
    position: relative;
    display: inline-block;
}

.user-info {
    display: inline-block;
}

.dropdown-toggle {
    display: inline-block;
    vertical-align: middle;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle {
    background: none;
    border: 0;
    padding: 0;
    text-align: initial;
}

.button,
[role="button"] {
    border: 1px solid #E4E5ED;
    border-radius: 4px;
    color: #9a9ba7;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 2.34;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
}

@media (min-width: 768px) {

    .button,
    [role="button"] {
        width: auto;
    }
}

.user-info>[role="button"] {
    border: 0;
    color: rgba(22, 158, 230, 1);
    min-width: 0;
    padding: 0;
    white-space: nowrap;
}

.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#user #user-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.dropdown-toggle>* {
    display: inline-block;
}

#user #user-name {
    display: none;
    font-size: 14px;
}

@media (min-width: 768px) {
    #user #user-name {
        display: inline-block;
    }
}

.dropdown-toggle::after {
    color: rgb(136, 136, 136);
    content: "  ";
    display: inline-block;
    font-family: entypo;
    vertical-align: middle;
}

.dropdown-toggle::after {
    color: inherit;
}

.button::after,
[role="button"]::after {
    color: rgba(255, 212, 0, 1);
}

.user-info .dropdown-toggle::after {
    display: none;
}

@media (min-width: 768px) {
    .user-info .dropdown-toggle::after {
        display: inline-block;
    }
}

.user-info>[role="button"]::after {
    color: rgba(22, 158, 230, 1);
    padding-right: 15px;
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin-top: 1px;
    min-width: 170px;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
}

.dropdown-menu-caret {
    margin-top: 10px;
}

.dropdown-menu-end {
    left: auto;
    right: 0;
}

#user #user-dropdown {
    background: #fff;
    min-width: 200px;
}



.dropdown-menu [role=menuitem] {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 7px 40px 7px 20px;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    line-height: inherit;
    width: 100%;
}

@media (min-width: 768px) {
    .nav-wrapper a {
        display: inline-block;
    }
}

.nav-wrapper a.login {
    display: inline-block;
}

[dir="ltr"] .dropdown-menu [role=menuitem] {
    text-align: left;
}

/* 1. header 끝 */


/* 2. main 시작 */

/* ****** container ***** */
.container-divider {
    border-top: 1px solid #FEEB83;
    margin-bottom: 20px;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}
@media (min-width: 1160px){
    .container {
        padding: 0;
        width: 90%;
    }
}
/* nav-breadcrumb */
.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}
@media (min-width: 768px){
    .sub-nav {
        align-items: baseline;
        flex-direction: row;
    }
}
.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
    color: #666666;
}
@media (min-width: 768px){
    .breadcrumbs {
        margin: 0;
    }
}
.breadcrumbs li {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
}


.breadcrumbs li a:visited {
    color: #666666;
}
/* nav-breadcrumb end*/
/* search */
.search {
    position: relative;
}
.search::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 14px;
    position: absolute;
    left: 20px;
}
.search input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #666;
    font-weight: 400;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}
@media (min-width: 768px){
    .sub-nav input[type="search"] {
        min-width: 300px;
    }
}
/* search 끝 */

/* article  */
.article-container {
    display: flex;
    flex-direction: column;
}
.article-sidebar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;
    color: #666666;
}
@media (min-width: 1024px){
    .article-container {
        flex-direction: row;
    }
}
@media (min-width: 1024px){
    .article-sidebar {
        border: 0;
        flex: 0 0 17%;
        height: auto;
    }
}
.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}
@media (min-width: 1024px){
    .collapsible-sidebar {
        max-height: none;
        padding: 0;
    }
}
.sidenav-title {
    font-size: 15px;
    position: relative;
}
.collapsible-sidebar-title {
    margin-top: 0;
}

.article {
    flex: 1 0 auto;
}
@media (min-width: 1024px){
    .article {
        flex: 1 0 66%;
        max-width: 66%;
        min-width: 640px;
        padding: 0 30px;
    }
}
@media (min-width: 768px){
    .article-header {
        flex-direction: row;
        margin-top: 0;
    }
}
@media (min-width: 768px){
    .article-title {
        flex-basis: 100%;
    }
}
.wysiwyg-text-align-center {
    text-align: center;
}
.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 20px;
}
@media (min-width: 768px){
    .article-header {
        flex-direction: row;
        margin-top: 0;
    }
}
.article-info {
    max-width: 100%;
}
.article-content {
    line-height: 1.6;
    margin: 30px 0;
    word-wrap: break-word;
    color: #333333;
}

.sidenav-item {
    border-radius: 4px;
    color: #999999;
    display: block;
    font-weight: 350;
    margin-bottom: 10px;
    padding: 0px;
}
.sidenav-item.current-article, .sidenav-item:hover {
    background-color: #F2F3F7;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
}
.sidenav-item-text {
    padding: 10px;
}
.article-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.article-relatives {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
@media (min-width: 768px){
    .article-relatives {
        flex-direction: row;
    }
}

.article-return-to-top {
    border-top: 1px solid #ddd;
}
@media (min-width: 1024px){
    .article-return-to-top {
        display: none;
    }
}
.article-return-to-top a {
    color: rgba(102, 102, 102, 1);
    display: block;
    padding: 20px 0;
}

/* article 끝 */

/* 2. main 끝 */








/* 3. footer 시작 */
.footer {
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding: 30px 0;
}

.footer a {
    color: #999;
}



.footer-inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    display: none;
}

.custom-breadcrumbs {
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}


.footer-mweb {
    margin: 0 auto;
    padding: 0;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding-bottom: 40px;

}

@media (min-width: 1160px) {
    .footer-mweb {
        display: none;
    }
}

.footer-about {
    max-width: 247px;
    height: 132px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: -0.3px;
    color: #666666;
}

@media (min-width: 1160px) {
    .footer-inner {
        padding: 0;
        width: 100%;
        display: flex;
        font-size: 13px;
    }

}
.footer-language-selector {
    color: #999;
    display: inline-block;
    font-weight: 300;
  }



.footer-language-selector {
    color: #999;
    display: inline-block;
    font-weight: 300;
}


/* footer 끝 */

/***** Custom Breadcrubs ****/
.custom-breadcrumbs {
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}


/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 400;
  color: #666666;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin: 0;
  }
}

.breadcrumbs li {
  display: inline;
  font-weight: 400;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}


.breadcrumbs li a:visited {
  color: #666666;
}





/***** Custom Breadcrubs ****/
.custom-breadcrumbs {
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}

.custom-breadcrumbs a:link, a:hover, a:visited {
  color: #666666;
}


/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 400;
  color: #666666;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin: 0;
  }
}

.breadcrumbs li {
  display: inline;
  font-weight: 400;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}

.breadcrumbs li + li::before {
  content: ">";
  margin: 0 4px;
}

.breadcrumbs li a:visited {
  color: #666666;
}





/* ******** */
[class^="icon-"]::before, [class*=" icon-"]::before, .icon, .search::before, .recent-activity-item-comment span::before, .article-vote::before, .attachments .attachment-item::before, .share a::before, .vote-up::before, .vote-down::before, .actions .dropdown-toggle::before, .collapsible-nav-list li[aria-selected="true"]::after, .collapsible-sidebar-title::after, .search-result-votes::before, .search-result-meta-count::before {
    font-family: "copenhagen-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}