@charset "UTF-8";

.dropdown-container {
    position: relative;
    display: inline-block;
}

#drop-content{
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}

#drop-content a {
    display:block;
    font-size: 14px;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 25px;
}

.bar-wrap {
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;

}

#bar {
    width: 100%;
    height: 100%;
    background-color:#ffff8d;
}

