.mypage {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    min-width: 42px;
    padding: 0px;
    border-radius: 21px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
}

.default-profile {
    width: 32px;
    height: 32px;
    background-color: rgb(228, 229, 237);
    position: relative;
    outline: none;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}


.profile-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}


body { 
	margin: 0;
}


#wrap {
	min-width: 1200px;
}

.wrap-s {
	height: 74px;
	display: flex;
	width: 1200px;
	margin:0 auto;
	padding: 0 16px;
	flex-direction: row;
	align-items: center;
}

.logo img {
	cursor: pointer;
	width: 152px;
	height: 97px;
	margin-top: 14px;
	margin-left: 7px;
	background-color:transparent;
}



.search {
	margin: 0px, 16px;
	display: flex;
	justify-content: center;
	width:100%;
	max-width: 256px;
	position: relative;
	
}

.search-d {
    position: relative;
	width: 100%;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    padding: 0px 12px;
    font-size: 14px;
}
	    	

.search-input {
	border: 1px solid #e0e0e0;
    height: 43px;
    border-radius: 15px;
    padding: 8px;
	outline: none;
	width: 100%;
    font-weight: 200;
	
}

input:focus {
   border: 1px solid rgb(255, 212, 0);
}


.search-svg {
    position: absolute;
    margin: 0;
    right: 6px;
    padding: 12px;
    top: -3px;

}

.img {
	display: inline-block;
	font-style: noraml;
	text-align: center;
	text-transform: none;
	vertical-align: -0.125em;
	text-rendering: optimizeLegibility;
	align-items: center;
	
}


.wrap-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.wrap-btn .btn-1 {
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
    margin-right: 4px;
	
	
}


.wrap-btn .btn-2 {
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
    margin-right: 16px;
}


.join {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: rgb(255, 212, 0);
    border-color: rgb(255, 212, 0);
    color: rgb(48, 52, 65);
    margin-right: 16px;
}

.categoryContainer {
    min-height: 48px;

}

.categoryWrap {
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;

}

.category {
    display: flex;
    align-items: center;
    height: 48px;
}

.categoryContent {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
}

.category-btn {
    font-size: 16px;
    color: #303441;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}

.img {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;

}

.category-s {
    font-size: 16px;
    color: #303441;
    cursor: pointer;
    font-weight: bold;
    margin: 11px 0 0 0;
    border: none;
    outline: none;
    background-color: white;
}

.categoryImg {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 3;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    margin-top: 3px;
}
