@charset "UTF-8";

/** font **/
@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 900;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 500;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 300;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot?#iefix) format('embedded-opentype');
}

/* 1. header 시작 */
body {
    display: block;
    margin: 8px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(102, 102, 102, 1);
    font-family: 'Metro Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

@media (min-width: 1024px) {
    body>main {
        min-height: 65vh;
    }
}

.header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between;
}

@media (min-width: 1160px) {
    .header {
        padding: 0;
        width: 90%;
        height: 80px;
    }
}

a {
    background-color: transparent;
}

a {
    color: rgba(22, 158, 230, 1);
    text-decoration: none;
}

img {
    border: 0;
}

.logo-kidsSookSook {
    height: 44px;
    margin-top: 8px;
}

@media (min-width: 1160px) {
    .logo-kidsSookSook {
        height: 74px;
        margin-top: 7px
    }
}

.cs {
    height: 20px;
    padding-left: 6px;
    margin-bottom: 10px;
}

@media (min-width: 1160px){
    .cs {
        height: 27px;
        padding-left: 10px;
        margin-top: 6px;
        margin-bottom: 23px;
    }
}



.nav-wrapper a {
    border: 0;
    color: rgba(22, 158, 230, 1);
    display: none;
    text-decoration: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.user-info {
    display: inline-block;
}


@media (min-width: 768px) {
    .nav-wrapper a {
        display: inline-block;
    }
}

.dropdown-toggle {
    display: inline-block;
    vertical-align: middle;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle {
    background: none;
    border: 0;
    padding: 0;
    text-align: initial;
}

.button,
[role="button"] {
    border: 1px solid #E4E5ED;
    border-radius: 4px;
    color: #9a9ba7;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 2.34;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
}

@media (min-width: 768px) {

    .button,
    [role="button"] {
        width: auto;
    }
}

.user-info>[role="button"] {
    border: 0;
    color: rgba(22, 158, 230, 1);
    min-width: 0;
    padding: 0;
    white-space: nowrap;
}

.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#user #user-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.dropdown-toggle>* {
    display: inline-block;
}

#user #user-name {
    display: none;
    font-size: 14px;
}

@media (min-width: 768px) {
    #user #user-name {
        display: inline-block;
    }
}

.dropdown-toggle::after {
    color: rgb(136, 136, 136);
    content: "  ";
    display: inline-block;
    font-family: entypo;
    vertical-align: middle;
}

.dropdown-toggle::after {
    color: inherit;
}

.button::after,
[role="button"]::after {
    color: rgba(255, 212, 0, 1);
}

.user-info .dropdown-toggle::after {
    display: none;
}

@media (min-width: 768px) {
    .user-info .dropdown-toggle::after {
        display: inline-block;
    }
}

.user-info>[role="button"]::after {
    color: rgba(22, 158, 230, 1);
    padding-right: 15px;
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin-top: 1px;
    min-width: 170px;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
}

.dropdown-menu-caret {
    margin-top: 10px;
}

.dropdown-menu-end {
    left: auto;
    right: 0;
}

#user #user-dropdown {
    background: #fff;
    min-width: 200px;
}

@media (min-width: 768px) {
    .nav-wrapper a {
        display: inline-block;
    }
}

.dropdown-menu [role=menuitem] {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 7px 40px 7px 20px;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    line-height: inherit;
    width: 100%;
}

@media (min-width: 768px) {
    .nav-wrapper a {
        display: inline-block;
    }
}

[dir="ltr"] .dropdown-menu [role=menuitem] {
    text-align: left;
}

/* 1. header 끝 */


/* 2. main 시작 */
.container-divider {
    border-top: 1px solid #FEEB83;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

@media (min-width: 1160px) {
    .container {
        padding: 0;
        width: 90%;
    }
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .sub-nav {
        align-items: baseline;
        flex-direction: row;
    }
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
    color: #666666;
}


@media (min-width: 768px) {
    .breadcrumbs {
        margin: 0;
    }
}

.breadcrumbs li {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
}

.breadcrumbs li+li::before {
    content: ">";
    margin: 0 4px;
}

.breadcrumbs li a:visited {
    color: #666666;
}

.search {
    position: relative;
}

.search::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 14px;
    position: absolute;
    left: 20px;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
.icon,
.search::before,
.recent-activity-item-comment span::before,
.article-vote::before,
.attachments .attachment-item::before,
.share a::before,
.vote-up::before,
.vote-down::before,
.actions .dropdown-toggle::before,
.collapsible-nav-list li[aria-selected="true"]::after,
.collapsible-sidebar-title::after,
.search-result-votes::before,
.search-result-meta-count::before {
    font-family: "copenhagen-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

input,
textarea {
    color: #3333;
    font-size: 14px;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

.search input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #666;
    font-weight: 400;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}

@media (min-width: 768px) {
    .sub-nav input[type="search"] {
        min-width: 300px;
    }
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 32px;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}

.custom-breadcrumbs {
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}

.custom-breadcrumbs a:link,
a:hover,
a:visited {
    color: #666666;
}

b,
strong {
    font-weight: bold;
}

.form {
    max-width: 650px;
}

.form-field label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.upload-dropzone {
    border: 1px solid #ddd;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.form-field.required>label::after {
    content: "*";
    color: #f00;
    margin-left: 2px;
}

.form-field input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: #333333;
    font-weight: 400;
}

.nesty-input,
.nesty-panel {
    box-sizing: border-box;
}

.nesty-input {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 1px;
    box-shadow: inset 0 1px #e3e3e3;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    max-width: 250px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 20px 0 5px;
    position: relative;
    text-overflow: ellipsis;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
}
.dropClick {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
    padding: 0 15px 0 10px;
}
.dropClick ::after{
    color: #999;
    content: "▾";
    line-height: 1em;
    position: absolute;
    right: 10px;
    top: 25%;
}
.dropClick {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: #333333;
    font-weight: 400;
    position:relative;
    z-index: 1;
}
.drop-content{
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    font-size: 14px;
}






.nesty-input {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
    padding: 0 15px 0 10px;
}

.form-field .nesty-input {
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    outline: none;
    vertical-align: middle;
}

.nesty-input:after {
    color: #999;
    content: "▾";
    line-height: 1em;
    position: absolute;
    right: 10px;
    top: 25%;
}

.form-field~.form-field {
    margin-top: 25px;
}

.form-field input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form .suggestion-list {
    font-size: 13px;
    margin-top: 30px;
}

textarea {
    overflow: auto;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: vertical;
    width: 100%;
    outline: none;
    padding: 10px;
}

.form-field textarea {
    vertical-align: middle;
    color: #333333;
}

.request-form textarea {
    min-height: 120px;
}

.form-field p {
    color: #333333;
    font-size: 12px;
    margin: 5px 0;
}

.upload-dropzone input[type=file] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.upload-dropzone span {
    color: #d1d1d1;
    display: inline-block;
    line-height: 24px;
    padding: 10px;
}

.upload-dropzone span {
    color: #999;
}

.upload-dropzone a {
    text-decoration: none;
    font-size: 13px;
}

.notification {
    border: 1px solid;
    display: table;
    font-family: sans-serif;
    font-size: 12px;
    padding: 13px 15px;
    transition: height .2s;
    width: 100%;
    color: #555;
}

.notification-error {
    background: #ffeded;
    border-color: #f7cbcb;
}

.notification-inline {
    border-radius: 4px;
    line-height: 14px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.notification-inline.notification-error {
    background-color: #fff0f1;
    border: 1px solid #e35b66;
    color: #cc3340;
}
.notification{
    display:none;
}
#upload-error {
    display: none;
    margin-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.upload-pool {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.form footer {
    margin-top: 40px;
    padding-top: 30px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.button-large,
input[type="submit"] {
    background-color: rgba(255, 212, 0, 1);
    border: 0;
    border-radius: 4px;
    color: rgba(154, 155, 167, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 190px;
    padding: 0 1.9286em;
    width: 100%;
    color: #333333;
}

@media (min-width: 768px) {

    .button-large,
    input[type="submit"] {
        width: auto;
    }
}

.button-request-yellow,
input[type="submit"] {
    background-color: rgba(255, 212, 0, 1);
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 240px;
    padding: 10px 50px 10px 50px;
    width: 100%;
}

@media (min-width: 768px) {

    .button-request-yellow,
    input[type="submit"] {
        width: auto;
    }
}

.button-large:hover,
.button-large:active,
.button-large:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    background-color: #997f00;
}

.button-request-yellow:hover,
.button-request-yellow:active,
.button-request-yellow:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    background-color: #997f00;
    text-decoration: none;
}

/* 2. main 끝 */

/* 3. footer 시작 */
.footer {
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding: 30px 0;
}

.footer a {
    color: #999;
}

.custom-breadcrumbs a:link,
a:hover,
a:visited {
    color: #666666;
}

.footer-inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    display: none;
}

.footer-mweb {
    margin: 0 auto;
    padding: 0;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding-bottom: 40px;

}

@media (min-width: 1160px) {
    .footer-mweb {
        display: none;
    }
}

.footer-about {
    max-width: 247px;
    height: 132px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: -0.3px;
    color: #666666;
}

@media (min-width: 1160px) {
    .footer-inner {
        padding: 0;
        width: 100%;
        display: flex;
        font-size: 13px;
    }

}

.footer-language-selector {
    color: #999;
    display: inline-block;
    font-weight: 300;
}


/* footer 끝 */

.notification-inline.notification-error::before {
    border-radius: 50%;
    border: 1px solid #e35b66;
    color: #e35b66;
    content: "!";
    display: inline-block;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: normal;
    height: 12px;
    line-height: 12px;
    margin: -2px 5px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 12px;
}
.drop-content p{
    font-size: 14px;
}

/* 파일 업로드 */

div.attach-wrap {
    display: flex;
    justify-content: space-between;
}

label.attach {
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    width: 104px;
    height: 104px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(235 124 120);
    margin-top: 16px;
    cursor: pointer;
}

label.attach img {
    width: 100%;
}

label.attach img.thumbnail {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

label.attach h6 {
    font-weight: 400;
}

label.attach h6.plus {
    font-size: 40px;
    font-weight: 100;
    line-height: 1em;
}

div.x {
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background: rgba(33, 35, 41, 0.5);
    border-radius: 0px 4px;
}

div.x img {
    width: 100%;
    filter: invert(0.9);
}