@charset "UTF-8";
/***** Base *****/
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(102, 102, 102, 1);
    font-family: 'Metro Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  @media (min-width: 1024px) {
    body > main {
      min-height: 65vh;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 0;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 16px;
  }
  
  a {
    color: rgba(22, 158, 230, 1);
    text-decoration: none;
  }
  
  a:hover, a:active, a:focus {
    text-decoration: none;
  }
  
  input,
  textarea {
    color: #3333;
    font-size: 14px;
  }
  
  input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
  }
  
  input:focus {
    border: 1px solid rgba(255, 212, 0, 1);
  }
  
  input[disabled] {
    background-color: #ddd;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(//theme.zdassets.com/theme_assets/9204604/27f536d448438fdd88b4004a3223bcc153fb621d.svg) no-repeat #fff;
    background-position: right 10px center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 30px 8px 10px;
    outline: none;
    color: #555;
    width: 100%;
  }
  
  select:focus {
    border: 1px solid rgba(255, 212, 0, 1);
  }
  
  select::-ms-expand {
    display: none;
  }
  
  textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: vertical;
    width: 100%;
    outline: none;
    padding: 10px;
  }
  
  textarea:focus {
    border: 1px solid rgba(255, 212, 0, 1);
  }
  
  .container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
  }
  
  @media (min-width: 1160px) {
    .container {
      padding: 0;
      width: 90%;
    }
  }
  
  .container-divider {
    border-top: 1px solid #FEEB83;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .error-page {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
  }
  
  @media (min-width: 1160px) {
    .error-page {
      padding: 0;
      width: 90%;
    }
  }
  
  .dropdown-toggle {
    background: none;
    border: 0;
    padding: 0;
    text-align: initial;
  }
  
  .dropdown-toggle:focus {
    outline: 0;
    text-decoration: underline;
  }
  
  .dropdown-toggle::after {
    color: inherit;
  }
  
b, strong {
    font-weight: bold;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

.container-divider {
    border-top: 1px solid #FEEB83;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

@media (min-width: 1160px) {
    .container {
        padding: 0;
        width: 90%;
    }
}


.custom-breadcrumbs a:link,
a:hover,
a:visited {
    color: #666666;
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
    color: #666666;
}

.breadcrumbs li {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
}

.breadcrumbs li a:visited {
    color: #666666;
}

.breadcrumbs li+li::before {
    content: ">";
    margin: 0 4px;
}

.search {
    position: relative;
}

.search input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #666;
    font-weight: 400;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}

.search::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 14px;
    position: absolute;
    left: 20px;
}

@media (min-width: 768px) {
    .sub-nav input[type="search"] {
        min-width: 300px;
    }
}

@media (min-width: 768px) {
    .breadcrumbs {
        margin: 0;
    }
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}

.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .page-header {
        align-items: baseline;
        flex-direction: row;
        margin: 0;
    }
}

.page-header h1 {
    flex-grow: 1;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .section {
        margin-bottom: 60px;
    }
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .sub-nav {
        align-items: baseline;
        flex-direction: row;
    }
}

.section-tree .section {
    flex: initial;
}

@media (min-width: 768px) {
    .section-tree .section {
        flex: 0 0 45%;
    }
}

.section-tree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .section-tree {
        flex-direction: row;
    }
}

.category-container {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1024px) {
    .category-content {
        flex: 0 0 80%;
    }
}

.see-all-sections-trigger {
    cursor: pointer;
    display: block;
    padding: 15px;
    text-align: center;
}

.see-all-sections-trigger[aria-hidden="true"] {
    display: none;
}

.section-tree-title {
    margin-bottom: 0;
}

.section-tree-title a {
    color: rgba(102, 102, 102, 1);
}

.article-list-item {
    font-size: 16px;
    padding: 15px 0;
}

.icon-star::before {
    color: #ffd400;
    font-size: 18px;
}

.article-list-item a {
    color: rgba(102, 102, 102, 1);
}

.section-list {
    margin: 40px 0;
}

.section-list-item {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 15px 0;
}

.section-list-item:first-child {
    border-top: 1px solid #ddd;
}

.section-list-item a {
    align-items: center;
    color: rgba(102, 102, 102, 1);
    display: flex;
    justify-content: space-between;
}

.section-content {
    flex: 1;
}

@media (min-width: 1024px) {
    .section-content {
        flex: 0 0 80%;
    }
}

.section-container {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    margin: 20px 0;
    text-align: center;
    color: #333333;
}
.pagination-current {
    background-color: rgba(255, 212, 0, 1);
}
.pagination li {
    border-radius: 50%;
    height: 40px;
    float: left;
    margin-left: 5px;
    width: 40px;
}

@media (min-width: 768px) {
    .pagination li {
        height: 30px;
        width: 30px;
    }
}

a:active, a:hover {
    outline: 0;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.pagination li:hover:not(.pagination-current) span, .pagination li:hover:not(.pagination-current) a {
    color: #333333;
    text-decoration: none;
}
.pagination {
    margin: 20px 0;
    text-align: center;
    color:#333333;
  }
  
  .pagination * {
    display: inline-block;
  }
  
  .pagination li {
    border-radius: 50%;
    height: 40px;
    float: left;
    margin-left: 5px;
    width: 40px;
  }
  
  @media (min-width: 768px) {
    .pagination li {
      height: 30px;
      width: 30px;
    }
  }
  
  [dir="rtl"] .pagination li {
    float: right;
  }
  
  .pagination li:hover:not(.pagination-current) {
    background-color: #f3f3f3;
    color:#333333;
  }
  
  .pagination li:hover:not(.pagination-current) span, .pagination li:hover:not(.pagination-current) a {
    color:#333333;
    text-decoration: none;
  }
  

  @media (min-width: 768px) {
    .pagination a, .pagination span {
      font-size: 13px;
      padding: 5px 12px;
    }
  }
  
  .pagination-current {
    background-color: rgba(255, 212, 0, 1);
  }
  
  .pagination-current a, .pagination-current span {
    color:#333333;
  }

[class^="icon-"]::before,
[class*=" icon-"]::before,
.icon,
.search::before,
.recent-activity-item-comment span::before,
.article-vote::before,
.attachments .attachment-item::before,
.share a::before,
.vote-up::before,
.vote-down::before,
.actions .dropdown-toggle::before,
.collapsible-nav-list li[aria-selected="true"]::after,
.collapsible-sidebar-title::after,
.search-result-votes::before,
.search-result-meta-count::before {
    font-family: "copenhagen-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.icon-star::before {
    content: "\2605";
}

